<div class="right">
	<%= render :partial => 'shared/userinfo'%>
</div>
<div>
	<h3><%= @current_account.name %></h3>
	<%= link_to('Back To Dashboard', :controller => 'dashboard') %>
</div>	
<div class="clear"></div>